<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DomesticTransport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DomesticTransport.Properties.Settings>
            <setting name="HeaderRow" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SapUnloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Signature" serializeAs="String">
                <value>&lt;p&gt;С уважением, Имя Фамилия&lt;/p&gt;</value>
            </setting>
            <setting name="OutlookFolders" serializeAs="String">
                <value />
            </setting>
        </DomesticTransport.Properties.Settings>
    </userSettings>
</configuration>